@charset "UTF-8";
.white {
  background: #fff; }

.bodyone {
  font-family: Arial, Verdana, "宋体"; }

.bodytwo {
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "宋体", sans-serif;
  font-size: 12px; }

.header-top {
  height: 30px;
  background: #f2f2f2; }

.smallwrapper {
  width: 1000px;
  margin: auto;
  overflow: hidden; }

.rfixed {
  text-align: center;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 999;
  font-family: SimHei;
  font-size: 14px; }

.rfixed a {
  border-radius: 5px 0 0 5px;
  color: #fff;
  width: 24px;
  display: block;
  padding-top: 24px;
  height: 64px;
  line-height: 15px;
  background: #ff6c00 url(../images/kefu.png) no-repeat center 5px; }

.smallheader {
  border-bottom: 2px solid #e60000;
  background: #fff; }
  .smallheader .log {
    padding: 21px 0px; }
  .smallheader .right {
    padding: 27px 0px; }
    .smallheader .right span {
      float: left;
      display: block;
      font-size: 12px;
      color: #1a1a1a;
      padding-left: 49px;
      margin-right: 33px;
      line-height: 36px;
      background: url(../images/promiseAd.png) no-repeat; }
    .smallheader .right span:nth-of-type(1) {
      background-position-x: 0px; }
    .smallheader .right span:nth-of-type(2) {
      background-position-x: -141px; }
    .smallheader .right span:nth-of-type(3) {
      background-position-x: -282px; }
    .smallheader .right span:nth-of-type(3) {
      margin: 0; }

.cartheaderl {
  overflow: hidden;
  line-height: 30px; }
  .cartheaderl b {
    font-weight: normal;
    color: #666666;
    float: left;
    display: block; }
  .cartheaderl a {
    color: #e60000; }
  .cartheaderl a:hover {
    text-decoration: underline; }
  .cartheaderl b + a {
    margin-left: 7px; }
  .cartheaderl span {
    color: #d1d1d1;
    margin: 0 9px; }

.show {
  display: none;
  line-height: 30px; }
  .show b {
    font-weight: normal;
    color: #666666;
    float: left;
    display: block; }
  .show a {
    color: #666; }

.cartheaderr {
  overflow: hidden;
  line-height: 30px; }
  .cartheaderr a {
    color: #666666;
    float: left;
    background: url(../images/topbarlibg.jpg) no-repeat right center;
    height: 30px;
    padding: 0px 12px; }
  .cartheaderr a:nth-of-type(6) {
    background: none; }
  .cartheaderr a:hover {
    color: #e60000;
    text-decoration: underline; }

.main-headerww {
  margin-top: 9px;
  padding-bottom: 9px;
  line-height: 22px;
  overflow: hidden;
  font-size: 14px; }
  .main-headerww div, .main-headerww i {
    color: #666666;
    float: left; }
  .main-headerww i {
    width: 5px;
    height: 9px;
    text-indent: -999px;
    overflow: hidden;
    background: url(../images/childredSprit.png) no-repeat -152px -472px;
    margin: 6px 7px 0 10px; }
  .main-headerww a {
    color: #666666; }

.main-right {
  float: right; }

.main-left {
  float: left;
  width: 940px;
  overflow: hidden; }
  .main-left .leftl {
    float: left;
    margin-right: 20px;
    padding-bottom: 16px;
    width: 350px; }
    .main-left .leftl .leftlpicw {
      padding: 24px;
      border: 1px solid #dbdbdb;
      height: 300px;
      width: 300px;
      text-align: center;
      position: relative; }
  .main-left .leftr {
    float: right;
    width: 570px; }
    .main-left .leftr .padLeft10 {
      padding-left: 10px; }
      .main-left .leftr .padLeft10 h1 {
        line-height: 24px;
        margin-top: 7px;
        font-family: 'Microsoft YaHei';
        font-size: 18px;
        color: #333333; }
      .main-left .leftr .padLeft10 .author {
        overflow: hidden;
        line-height: 24px;
        margin-top: 7px; }
      .main-left .leftr .padLeft10 .publisher {
        overflow: hidden;
        line-height: 24px;
        margin-top: 3px; }
        .main-left .leftr .padLeft10 .publisher a {
          margin-right: 32px; }
      .main-left .leftr .padLeft10 .otherInfor {
        overflow: hidden;
        line-height: 24px;
        margin-top: 3px; }
        .main-left .leftr .padLeft10 .otherInfor em {
          margin-right: 32px; }
      .main-left .leftr .padLeft10 .sort {
        height: 24px;
        overflow: hidden;
        line-height: 24px;
        margin-top: 3px; }
      .main-left .leftr .padLeft10 a {
        float: left;
        color: #024f7d; }
      .main-left .leftr .padLeft10 a:hover {
        text-decoration: underline; }
      .main-left .leftr .padLeft10 span {
        float: left;
        color: #666; }
      .main-left .leftr .padLeft10 i, .main-left .leftr .padLeft10 em {
        font-style: normal;
        float: left; }
    .main-left .leftr .priceWrap {
      margin-top: 15px;
      background: #fff4f8;
      padding: 10px 0 10px 10px;
      height: 28px;
      line-height: 28px;
      overflow: hidden; }
      .main-left .leftr .priceWrap span {
        color: #666; }
      .main-left .leftr .priceWrap .sellPrice {
        color: #e60000;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        margin-left: 10px; }
      .main-left .leftr .priceWrap .priceTit {
        color: #999999;
        margin-left: 30px;
        margin-top: 3px; }
      .main-left .leftr .priceWrap a {
        color: #024f7d;
        margin-left: 13px;
        margin-top: 3px; }
  .main-left .oparateButton {
    padding: 15px 0 10px;
    overflow: hidden; }
    .main-left .oparateButton .buyButton {
      display: block;
      float: left;
      height: 35px;
      margin-right: 10px;
      width: 160px;
      line-height: 32px;
      text-indent: 45px;
      color: #fff;
      font-size: 16px;
      font-family: 'Microsoft YaHei';
      background: url(../images/childredSprit.png) no-repeat -335px -262px; }

.smallmain {
  margin-top: 20px; }
  .smallmain .elsepublic {
    background: #fff;
    padding: 60px 50px 210px; }
    .smallmain .elsepublic .smallmain-top {
      padding-right: 23px;
      width: 187px;
      overflow: hidden;
      height: 24px;
      line-height: 24px; }
    .smallmain .elsepublic .smallmain-top-register {
      height: 24px;
      line-height: 24px;
      overflow: hidden; }
      .smallmain .elsepublic .smallmain-top-register span {
        margin-left: 11px;
        color: #e60000; }
      .smallmain .elsepublic .smallmain-top-register div {
        color: #c1c1c1; }
      .smallmain .elsepublic .smallmain-top-register a {
        color: #999; }
      .smallmain .elsepublic .smallmain-top-register a:hover {
        text-decoration: underline; }
    .smallmain .elsepublic b {
      line-height: 24px;
      color: #333;
      height: 24px;
      font-size: 22px;
      padding-left: 13px;
      border-left: 3px solid #e60000; }
  .smallmain .smallmain-middle {
    margin-top: 50px;
    overflow: hidden; }
  .smallmain .input-box.yzm .input-right {
    width: 160px; }
  .smallmain .registerbox .input-box .input-left {
    width: 154px; }
  .smallmain .input-box {
    padding-bottom: 30px;
    overflow: hidden;
    position: relative; }
    .smallmain .input-box .input-left {
      height: 42px;
      padding-right: 23px;
      line-height: 42px;
      width: 187px;
      text-align: right;
      font-size: 16px;
      color: #333; }
    .smallmain .input-box .input-right.phoneyz {
      position: relative; }
      .smallmain .input-box .input-right.phoneyz input[type="text"] {
        width: 167px; }
      .smallmain .input-box .input-right.phoneyz .phonebtn {
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        width: 120px;
        text-align: center;
        line-height: 40px;
        color: #e60000;
        cursor: pointer;
        background: url(../images/sendtimeline.png) no-repeat left center; }
    .smallmain .input-box .input-right.redborder {
      border: 1px solid #e60000; }
    .smallmain .input-box .input-right {
      border-radius: 4px;
      overflow: hidden;
      height: 40px;
      border: 1px solid #dcdcdc;
      width: 303px;
      padding-right: 35px; }
      .smallmain .input-box .input-right input[type="text"] {
        color: #666;
        display: block;
        width: 100%;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        text-indent: 10px;
        padding: 10px 0; }
      .smallmain .input-box .input-right input[type="password"] {
        color: #666;
        display: block;
        width: 100%;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        text-indent: 10px;
        padding: 10px 0; }
    .smallmain .input-box .yanzhen {
      width: 86px;
      height: 40px;
      margin-left: 10px;
      cursor: pointer;
      line-height: 40px;
      color: #e60000;
      font-size: 20px; }
    .smallmain .input-box .exclick {
      height: 40px;
      line-height: 40px; }
      .smallmain .input-box .exclick span {
        color: #1c51a1;
        margin-left: 5px;
        font-size: 14px;
        cursor: pointer; }
      .smallmain .input-box .exclick span:hover {
        text-decoration: underline; }
  .smallmain .btn {
    margin: 23px 0 0 210px; }
    .smallmain .btn input {
      height: 50px;
      line-height: 50px;
      border-radius: 5px;
      width: 380px;
      background: #e60000;
      font-size: 16px;
      color: #fff;
      letter-spacing: 3px;
      padding: 0; }
  .smallmain .btn-two {
    margin: 25px 0 0 210px;
    width: 380px;
    overflow: hidden;
    line-height: 24px; }
    .smallmain .btn-two a {
      color: #666a6b; }
    .smallmain .btn-two a:hover {
      text-decoration: underline; }
  .smallmain .btn-three {
    margin: 28px 0 0 155px;
    overflow: hidden; }
    .smallmain .btn-three a {
      float: left;
      padding-left: 40px;
      margin-right: 40px;
      height: 30px;
      line-height: 30px;
      color: #666666;
      position: relative;
      display: block; }
    .smallmain .btn-three a:hover {
      text-decoration: underline; }
    .smallmain .btn-three span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 30px;
      width: 30px;
      background: url(../images/registloginSprit.png) no-repeat 0 -20px; }
    .smallmain .btn-three a:nth-of-type(2) span {
      background-position: -32px -20px; }

.megTip {
  height: 30px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  left: 177px;
  font-size: 12px;
  display: none; }

.megTip.red {
  color: #e60000; }

.megTip.logint {
  left: 213px;
  color: #666; }

.sucessWrap {
  float: left;
  height: 17px;
  width: 17px;
  background: url("../images/sucessTip.png") no-repeat center;
  margin: 13px 0 0 20px;
  display: none; }

.btn input {
  cursor: pointer; }

.conthead {
  margin-top: 34px;
  color: #666;
  line-height: 33px; }
  .conthead .carTab ul {
    overflow: hidden; }
  .conthead .carTab li {
    float: left;
    line-height: 30px;
    margin: 0 25px 0 5px; }
  .conthead .carTab a {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    display: block;
    height: 30px;
    color: #333; }
  .conthead .cartEmpty {
    padding: 80px 0px 120px;
    overflow: hidden; }
    .conthead .cartEmpty .emptyIcon {
      background: url(../images/carSprites.png) no-repeat left -222px;
      float: left;
      width: 89px;
      height: 70px;
      margin-left: 252px; }
    .conthead .cartEmpty .emptyText {
      padding-left: 30px;
      float: left;
      width: 629px;
      font-size: 14px; }
      .conthead .cartEmpty .emptyText span {
        display: block;
        margin: 14px 0px 5px 0px; }
      .conthead .cartEmpty .emptyText a {
        color: #1754a4; }

.tablist {
  border-bottom: 1px solid #c4c4c4; }
  .tablist li {
    float: left;
    line-height: 42px;
    text-align: center;
    padding: 0px 10px;
    cursor: pointer; }
    .tablist li span {
      color: #323232;
      font-size: 14px;
      display: block;
      height: 42px;
      padding: 0px 5px; }

.wrap_line {
  height: 2px;
  position: relative; }
  .wrap_line .line {
    height: 2px;
    width: 100px;
    background: #ff2832;
    position: absolute;
    left: 0px;
    top: 1px; }

.shoopcont {
  height: 341px;
  overflow: hidden;
  position: relative; }
  .shoopcont .shoopwrap {
    position: relative;
    height: 341px;
    padding: 0px 10px;
    margin-top: 20px; }
  .shoopcont .clearfix {
    text-align: center;
    margin: 20px 0px 20px; }
    .shoopcont .clearfix li {
      float: left;
      width: 156px;
      padding: 0px 20px;
      height: 265px; }
      .shoopcont .clearfix li .p_img {
        height: 156px;
        width: 156px;
        overflow: hidden;
        text-align: center; }
        .shoopcont .clearfix li .p_img img {
          max-height: 150px; }
      .shoopcont .clearfix li .p_name {
        height: 36px;
        margin-top: 3px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: left; }
        .shoopcont .clearfix li .p_name a {
          color: #323232; }
      .shoopcont .clearfix li .p_price {
        overflow: hidden;
        height: 20px;
        padding-top: 5px;
        line-height: 20px; }
        .shoopcont .clearfix li .p_price strong {
          float: left;
          font-size: 16px;
          color: #ff2832; }
        .shoopcont .clearfix li .p_price del {
          float: right;
          color: #787878; }
      .shoopcont .clearfix li .p_button {
        text-align: center;
        padding-top: 15px; }
        .shoopcont .clearfix li .p_button a {
          border: 1px solid #999;
          height: 28px;
          padding: 0px 20px;
          line-height: 28px;
          font-size: 12px;
          display: inline-block;
          border-radius: 3px;
          color: #666; }
        .shoopcont .clearfix li .p_button a:hover {
          color: #fff;
          background: #ff2832;
          border: 1px solid #ff2832; }

.shoppingTitle {
  border: 1px solid #e4e4e4;
  height: 38px;
  display: none; }
  .shoppingTitle ul {
    overflow: hidden;
    line-height: 38px; }
    .shoppingTitle ul li {
      float: left; }
    .shoppingTitle ul .f1 {
      width: 152px;
      overflow: hidden; }
      .shoppingTitle ul .f1 input {
        cursor: pointer;
        margin: 12px 23px 0px 13px;
        float: left;
        height: 14px;
        width: 14px;
        text-indent: 999px;
        overflow: hidden; }
    .shoppingTitle ul .f2 {
      width: 233px; }
    .shoppingTitle ul .f3 {
      width: 126px; }
    .shoppingTitle ul .f4 {
      width: 131px; }
    .shoppingTitle ul .f5 {
      width: 154px; }
    .shoppingTitle ul .f6 {
      width: 120px; }
    .shoppingTitle ul .f7 {
      width: 78px; }

.footnav {
  padding-top: 46px; }
  .footnav ul {
    overflow: hidden;
    width: 480px;
    margin: auto; }
    .footnav ul li {
      background: url(../images/loginRegistfootline.jpg) no-repeat right;
      float: left;
      height: 20px;
      line-height: 20px;
      width: 120px;
      text-align: center; }
      .footnav ul li a {
        color: #333333;
        font-size: 12px; }
      .footnav ul li a:hover {
        color: #e60000;
        text-decoration: underline; }
    .footnav ul li:nth-of-type(4) {
      background: none; }

.footend {
  margin: 20px auto 30px; }
  .footend .footend-left {
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 90px; }
  .footend .footend-right {
    float: left;
    color: #333;
    display: inline;
    margin-left: 18px;
    line-height: 20px; }
    .footend .footend-right a {
      margin-right: 10px;
      color: #333;
      font-size: 12px; }
    .footend .footend-right a:hover {
      color: #e60000;
      text-decoration: underline; }
  .footend .footend-right.cartfoot a:hover {
    color: #ff6405;
    text-decoration: underline; }

.cartfoot-top {
  border-top: #f0f0f0 2px solid;
  margin: 10px auto 0 auto;
  padding: 10px 0 0 0;
  background: #f9f9f9; }
  .cartfoot-top dl {
    line-height: 24px;
    float: left; }
    .cartfoot-top dl a {
      color: #333; }
    .cartfoot-top dl a:hover {
      color: #ff6405;
      text-decoration: underline; }
  .cartfoot-top dl:nth-of-type(1) {
    width: 230px; }
  .cartfoot-top dl:nth-of-type(2) {
    width: 190px; }
  .cartfoot-top dl:nth-of-type(3) {
    width: 142px; }
  .cartfoot-top dl:nth-of-type(4) {
    width: 192px; }
  .cartfoot-top dl:nth-of-type(5) {
    width: 110px; }
  .cartfoot-top dl:nth-of-type(6) {
    width: 132px;
    text-align: right; }
  .cartfoot-top dt {
    font-size: 14px;
    color: #333;
    font-weight: bold; }

/*# sourceMappingURL=else.css.map */
