@charset "UTF-8";
body {
  background: #fff;
  font-family: "宋体";
  font-size: 12px; }

.bigwrapper {
  width: 1200px;
  margin: auto;
  overflow: hidden; }

.index-header-top {
  background: #f2f2f2; }
  .index-header-top .bigwrapper {
    overflow: visible; }

.indexheaderl {
  overflow: hidden;
  line-height: 30px; }
  .indexheaderl b {
    font-weight: normal;
    color: #666666;
    float: left;
    display: block; }
  .indexheaderl a {
    color: #e60000; }
  .indexheaderl a:hover {
    text-decoration: underline; }
  .indexheaderl b + a {
    margin-left: 7px; }
  .indexheaderl span {
    color: #d1d1d1;
    margin: 0 7px; }

.indexheaderr {
  line-height: 30px; }
  .indexheaderr li {
    float: left;
    padding: 0 16px;
    height: 29px;
    border: 1px solid #f2f2f2; }
  .indexheaderr .h-nav-w {
    padding: 0;
    position: relative; }
  .indexheaderr .h-nav {
    position: relative;
    padding: 0 26px 0 14px;
    z-index: 100; }
  .indexheaderr a {
    color: #666666; }
  .indexheaderr a:hover {
    color: #e60000;
    text-decoration: underline; }
  .indexheaderr .h-nav-w:hover {
    box-shadow: 1px 1px 2px #e6e6e6;
    border: 1px solid #dadada; }
  .indexheaderr .h-nav-w:hover .h-nav {
    background: #ffffff;
    border-bottom: none; }
  .indexheaderr .h-nav-w:hover .zhanghu {
    display: block; }
  .indexheaderr .h-nav-w:hover .zhongtu {
    display: block; }

.zhanghu {
  position: absolute;
  left: -1px;
  top: 29px;
  display: none;
  width: 162px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadada;
  background: #fff;
  z-index: 2;
  padding-left: 12px; }
  .zhanghu a {
    float: left;
    color: #666666;
    line-height: 24px;
    margin-bottom: 6px;
    width: 76px; }

.zhongtu {
  position: absolute;
  right: -1px;
  top: 29px;
  width: 164px;
  padding-bottom: 7px;
  padding-left: 5px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadada;
  background: #fff;
  z-index: 2;
  display: none; }

.zhongtubox {
  overflow: hidden;
  padding-top: 9px; }
  .zhongtubox .text {
    line-height: 14px; }
    .zhongtubox .text b {
      color: #e60000;
      display: block;
      margin-top: 5px;
      font-weight: normal; }
    .zhongtubox .text span {
      color: #666666;
      display: block;
      padding-top: 9px; }

.h-icon {
  position: absolute;
  background: url(../images/homeindex.png) no-repeat 0 0;
  width: 8px;
  height: 4px;
  left: 68px;
  top: 12px; }

.index-header .bigwrapper {
  overflow: visible; }
.index-header .logo {
  float: left;
  width: 199px;
  padding: 21px 0 25px 0;
  margin-right: 75px; }
.index-header .search {
  float: left;
  margin-top: 20px; }
  .index-header .search .search-top {
    float: left;
    height: 36px;
    width: 606px;
    border: 2px solid #e60000;
    position: relative; }
    .index-header .search .search-top .inputwrapper {
      width: 508px;
      float: left;
      padding: 8px 0; }
    .index-header .search .search-top input {
      display: block;
      width: 100%;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
      background: #fff;
      color: #666;
      text-indent: 1em; }
    .index-header .search .search-top a {
      float: left;
      height: 36px;
      background: #e60000;
      color: #fff;
      line-height: 36px;
      width: 98px;
      text-align: center;
      font-size: 14px;
      font-family: "Microsoft YaHei";
      letter-spacing: 3px; }
  .index-header .search .moresearch {
    float: left;
    line-height: 40px;
    margin-left: 15px; }
    .index-header .search .moresearch a {
      color: #e60000; }
    .index-header .search .moresearch a:hover {
      color: #e60000;
      text-decoration: underline; }
.index-header .notice {
  float: right;
  position: relative;
  padding: 0 0 0 33px;
  width: 135px;
  margin: 25px 25px 0 0; }
  .index-header .notice .notice-fix {
    overflow: hidden;
    position: relative;
    height: 40px; }
  .index-header .notice .notice-wrapper {
    height: 160px;
    position: relative;
    top: 0; }
  .index-header .notice a {
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
    font-size: 14px;
    color: #000;
    display: block; }
  .index-header .notice a:nth-of-type(even) {
    color: #f60000; }
  .index-header .notice .icon {
    background: url(../images/homeindex.png) no-repeat;
    background-position: 0px -27px;
    width: 23px;
    height: 23px;
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -11px; }

.search-select {
  width: 63px;
  position: absolute;
  right: 98px;
  height: 36px;
  top: 0;
  border-left: 1px solid #dbdbdb;
  padding: 0 9px 0 9px;
  background: #FFF; }
  .search-select dt {
    height: 36px;
    line-height: 36px;
    color: #999;
    text-align: center;
    cursor: pointer; }
  .search-select dd {
    position: absolute;
    top: 28px;
    left: -1px;
    width: 80px;
    border: 1px solid #dbdbdb;
    background: #fff;
    line-height: 24px;
    text-indent: 8px;
    padding-top: 5px;
    border-top: none;
    z-index: 10;
    display: none; }
  .search-select .aselect li {
    color: #999999;
    cursor: pointer;
    position: relative;
    text-indent: 16px; }
  .search-select .aselect li:hover {
    color: #e02626;
    background: #f5f5f5; }
  .search-select .aselect .active {
    color: #e02626;
    background: #f5f5f5; }

.inputwrapper {
  position: relative; }

.searchbox {
  position: absolute;
  top: 38px;
  left: -2px;
  width: 100%;
  background: #fff;
  z-index: 50;
  border: 1px solid #e6e6e6; }
  .searchbox .divwrapper {
    overflow: hidden;
    padding: 0 16px 0 7px; }
  .searchbox .divwrapper:hover {
    background: #f5f5f5; }
    .searchbox .divwrapper:hover .left {
      color: #e60000; }
  .searchbox .left {
    height: 30px;
    line-height: 30px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70%; }
  .searchbox .right {
    height: 30px;
    line-height: 30px;
    color: #666666; }
    .searchbox .right span {
      color: #e60000;
      padding: 0 2px; }

.search-footer {
  line-height: 28px;
  overflow: hidden; }
  .search-footer a {
    float: left;
    color: #999;
    margin-right: 25px; }
  .search-footer a:hover {
    color: #e60000;
    text-decoration: underline; }

.secondnav {
  float: left;
  width: 200px;
  height: 42px;
  position: relative; }
  .secondnav .nav-header {
    background: #e60000 url(../Images/categoryarrowdown.png) no-repeat 159px 18px;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    position: relative;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    z-index: 114;
    text-indent: 40px;
    z-index: 114;
    cursor: pointer; }
    .secondnav .nav-header .icon {
      background: url(../images/homeindex.png) no-repeat;
      background-position: -9px 0px;
      width: 16px;
      height: 15px;
      display: block;
      position: absolute;
      left: 13px;
      top: 14px; }
  .secondnav .nav-main {
    width: 200px;
    height: 696px;
    position: absolute;
    left: 0px;
    top: 42px;
    z-index: 200;
    display: block; }
    .secondnav .nav-main .nav-mainwrapper {
      border: 1px solid #e60000;
      border-top: none;
      background: #fff;
      height: 780px; }

.index-header-bottom {
  border-bottom: 2px solid #e60000; }
  .index-header-bottom .bigwrapper {
    overflow: visible; }
  .index-header-bottom .nav {
    float: left;
    width: 1000px;
    font-family: "Microsoft YaHei"; }
    .index-header-bottom .nav li {
      float: left;
      line-height: 42px; }
      .index-header-bottom .nav li a {
        display: block;
        height: 42px;
        padding: 0 29px;
        color: #333333;
        font-size: 18px; }
      .index-header-bottom .nav li a:hover {
        color: #e60000; }
    .index-header-bottom .nav .active a {
      color: #e60000;
      font-weight: bold; }

.show {
  display: none;
  line-height: 30px; }
  .show b {
    font-weight: normal;
    color: #666666;
    float: left;
    display: block; }

.footend {
  width: 1000px;
  margin: 20px auto 30px;
  overflow: hidden; }
  .footend .footend-left {
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 90px; }
  .footend .footend-right {
    float: left;
    color: #333;
    display: inline;
    margin-left: 18px;
    line-height: 20px; }
    .footend .footend-right a {
      margin-right: 10px;
      color: #333;
      font-size: 12px; }
    .footend .footend-right a:hover {
      color: #e60000;
      text-decoration: underline; }
  .footend .footend-right.cartfoot a:hover {
    color: #ff6405;
    text-decoration: underline; }

.banner-wrapper {
  margin: 10px 0 0 210px;
  position: relative;
  height: 360px;
  width: 990px;
  overflow: hidden;
  background: #666666; }
  .banner-wrapper .lbtn {
    background: url(../images/homeindex.png) no-repeat;
    background-position: -73px -38px;
    width: 27px;
    height: 38px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -19px;
    display: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35); }
  .banner-wrapper .rbtn {
    background: url(../images/homeindex.png) no-repeat;
    background-position: -73px 0;
    width: 27px;
    height: 38px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -19px;
    display: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35); }

.banner-wrapper:hover .lbtn {
  display: block; }
.banner-wrapper:hover .rbtn {
  display: block; }

.picbox {
  overflow: hidden;
  background: #fff;
  height: 360px; }
  .picbox li {
    display: none;
    opacity: 0; }

.bannerdi {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0; }
  .bannerdi a {
    width: 16.666666666%;
    background-image: none;
    float: left;
    padding: 3px 0;
    text-align: center;
    height: 34px;
    color: #fff;
    cursor: pointer;
    line-height: 34px;
    display: table;
    background-color: rgba(0, 0, 0, 0.7); }
    .bannerdi a span {
      padding: 0 10px; }
  .bannerdi .active {
    background: #e60000; }

.box-header h2 {
  float: left;
  height: 55px;
  width: 210px;
  line-height: 55px;
  text-indent: 16px;
  background: #00b6f0; }
  .box-header h2 a {
    display: block;
    height: 55px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    font-family: "黑体"; }

.box {
  margin-top: 25px; }

.box-header {
  margin-bottom: 10px;
  position: relative;
  background: #f5f5f5;
  overflow: hidden; }
  .box-header ul {
    overflow: hidden;
    float: left; }
    .box-header ul li {
      float: left;
      padding: 0 19px;
      background: url(../images/kindline.jpg) no-repeat right; }
      .box-header ul li a {
        padding: 0 7px;
        padding-top: 8px;
        font-size: 15px;
        color: #333333;
        text-decoration: none;
        display: block;
        line-height: 32px;
        height: 43px;
        border-top: 4px solid #f5f5f5; }

.box-main {
  overflow: hidden; }
  .box-main .box-left {
    float: left;
    width: 960px;
    overflow: hidden; }
    .box-main .box-left .box-leftl {
      float: left;
      width: 210px; }
    .box-main .box-left .box-leftr {
      float: right;
      width: 740px; }
  .box-main .box-right {
    width: 230px;
    float: right; }

.recommend_wrapper {
  margin: 10px 0 0 210px;
  width: 990px; }
  .recommend_wrapper .recommend_left {
    float: left;
    width: 730px;
    background: #eff2fa;
    padding: 10px;
    overflow: hidden;
    height: 490px; }
  .recommend_wrapper .recommend_right {
    float: right;
    width: 230px;
    background: #f0f0f0;
    height: 490px; }

.tabtop {
  overflow: hidden; }
  .tabtop a {
    cursor: default;
    float: left;
    border-top: 3px solid #eff2fa;
    color: #333333;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    height: 37px;
    line-height: 30px;
    padding: 0 25px;
    text-decoration: none; }
  .tabtop .active {
    border-top: 3px solid #e60000;
    color: #e60000;
    background: #fff;
    font-weight: bold; }

.tabbottom {
  background: #fff;
  height: 450px; }
  .tabbottom .tabtou {
    padding: 15px 15px 0;
    height: 174px;
    border-bottom: 1px solid #eef1f9;
    overflow: hidden; }
    .tabbottom .tabtou .tabtoupic {
      float: left;
      height: 160px;
      width: 189px;
      text-align: center; }
      .tabbottom .tabtou .tabtoupic a {
        display: block; }
      .tabbottom .tabtou .tabtoupic img {
        max-height: 160px;
        border: 0; }
    .tabbottom .tabtou .tabtoutext {
      float: left;
      width: 495px; }
      .tabbottom .tabtou .tabtoutext h2 {
        margin-top: 10px;
        line-height: 30px; }
        .tabbottom .tabtou .tabtoutext h2 a {
          font-size: 16px;
          color: #000;
          font-family: "Microsoft YaHei"; }
    .tabbottom .tabtou .bookprice {
      overflow: hidden;
      line-height: 30px;
      color: #e60000;
      font-size: 18px;
      font-family: "Microsoft YaHei"; }
      .tabbottom .tabtou .bookprice del {
        color: #999999;
        margin-left: 11px; }
    .tabbottom .tabtou .bookcont {
      color: #666666;
      line-height: 24px;
      text-indent: 2em;
      margin-top: 1px; }
  .tabbottom .tabcont {
    padding: 0 1px;
    margin-top: 10px; }
    .tabbottom .tabcont ul {
      overflow: hidden; }
      .tabbottom .tabcont ul li {
        float: left;
        width: 182px;
        overflow: hidden;
        position: relative; }
    .tabbottom .tabcont .img {
      height: 158px;
      text-align: center;
      margin-top: 7px; }
      .tabbottom .tabcont .img img {
        height: 158px; }
    .tabbottom .tabcont .name {
      padding: 10px 15px 0;
      line-height: 18px;
      height: 36px;
      overflow: hidden; }
      .tabbottom .tabcont .name a {
        color: #333; }
    .tabbottom .tabcont .priceWrap {
      overflow: hidden;
      padding: 4px 15px 15px 15px;
      line-height: 20px;
      color: #e60000;
      font-size: 16px;
      font-family: "Microsoft YaHei"; }
      .tabbottom .tabcont .priceWrap del {
        color: #999999;
        font-size: 12px;
        margin-left: 10px; }
      .tabbottom .tabcont .priceWrap .icon {
        position: absolute;
        top: 0;
        right: 0; }

.tabli {
  display: none; }

.rtop {
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  background: #fff; }
  .rtop h2 {
    float: left;
    font-size: 16px;
    color: #e60000;
    font-family: "Microsoft YaHei";
    font-weight: normal; }
  .rtop a {
    float: right;
    color: #999; }

.advert {
  margin-top: 20px; }

.advert-wrapper {
  overflow: hidden; }
  .advert-wrapper a {
    float: left;
    margin-left: 10px;
    display: block; }
  .advert-wrapper a:nth-last-of-type(3) {
    margin-left: 0; }

.taoshu {
  margin-top: 15px; }

.taoshu-header {
  overflow: hidden;
  background: #e60000 url(../images/taoshutuantitle.png) no-repeat 20px center;
  position: relative;
  height: 58px; }
  .taoshu-header a {
    height: 58px;
    line-height: 58px;
    color: #ffffff;
    text-align: right;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1180px;
    padding-right: 20px; }
  .taoshu-header a:hover {
    text-decoration: underline; }

.taoshu-main {
  position: relative;
  height: 300px;
  width: 1200px;
  overflow: hidden;
  margin-top: 14px; }
  .taoshu-main ul {
    overflow: hidden; }
    .taoshu-main ul li {
      float: left;
      width: 285px;
      border: 1px solid #e6e6e6;
      margin-right: 17px;
      overflow: hidden;
      background: #edf8ff;
      height: 297px; }
    .taoshu-main ul li:nth-last-of-type(1) {
      margin: 0; }
    .taoshu-main ul li:nth-last-of-type(5) {
      margin: 0; }
  .taoshu-main .taoshu-pic {
    height: 190px; }
    .taoshu-main .taoshu-pic img {
      width: 100%; }
  .taoshu-main p {
    margin-top: 7px;
    line-height: 22px;
    height: 66px;
    overflow: hidden;
    padding: 0 14px; }
    .taoshu-main p a {
      color: #333; }
    .taoshu-main p a:hover {
      color: #e60000; }
  .taoshu-main .price {
    margin-top: 3px;
    padding: 0 14px;
    overflow: hidden;
    line-height: 24px;
    font-family: "Microsoft YaHei"; }
    .taoshu-main .price span {
      color: #e60000;
      font-size: 20px; }
    .taoshu-main .price i {
      font-size: 14px;
      color: #e60000; }
    .taoshu-main .price del {
      margin-left: 13px;
      color: #999;
      line-height: 28px; }
    .taoshu-main .price b {
      float: right;
      background: #5bd7ff;
      color: #fff;
      line-height: 16px;
      height: 16px;
      padding: 0 5px;
      border-radius: 3px;
      margin-top: 5px; }
  .taoshu-main .taoshu-lbtn {
    background: url(../images/homeindex.png) no-repeat;
    background-position: -73px -38px;
    width: 27px;
    height: 38px;
    display: block;
    position: absolute;
    left: 2px;
    top: 85px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    display: none; }
  .taoshu-main .taoshu-rbtn {
    background: url(../images/homeindex.png) no-repeat;
    background-position: -73px 0px;
    width: 27px;
    height: 38px;
    display: block;
    position: absolute;
    right: 2px;
    top: 85px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    display: none; }

.taoshu-main:hover .taoshu-lbtn {
  display: block; }

.taoshu-main:hover .taoshu-rbtn {
  display: block; }

.special {
  margin-top: 10px; }

.special-wrapper {
  line-height: 52px; }

.special-header {
  font-family: 'Microsoft YaHei';
  overflow: hidden; }
  .special-header h2 {
    float: left;
    font-size: 22px;
    margin-right: 3px; }
    .special-header h2 a {
      color: #e60000; }
  .special-header b {
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    float: right;
    height: 52px;
    line-height: 52px;
    color: #333;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    font-weight: normal; }
    .special-header b .icon {
      height: 13px;
      width: 14px;
      background: url(../images/childredSprit.png) no-repeat -57px -425px;
      position: absolute;
      left: 0;
      top: 20px; }
  .special-header b:hover {
    color: #e60000; }
  .special-header b:hover .icon {
    background-position: -57px -445px; }

.special-header > a {
  float: left;
  color: #666;
  line-height: 60px;
  margin-left: 17px;
  display: inline;
  padding-right: 13px;
  position: relative; }
  .special-header > a .icon {
    background: url(../images/homeindex.png) no-repeat;
    background-position: -21px -63px;
    width: 8px;
    height: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 25px; }

.special-header > a:hover {
  color: #e60000; }

.special-header > a:hover .icon {
  background-position: -22px -72px; }

.special-main {
  position: relative;
  overflow: hidden;
  height: 209px; }
  .special-main ul {
    display: none;
    overflow: hidden; }
    .special-main ul li {
      float: left;
      height: 206px;
      width: 239px;
      border: 1px solid #e6e6e6;
      border-right: 0;
      border-top-width: 2px;
      position: relative;
      font-family: "Microsoft YaHei"; }
    .special-main ul li:last-child {
      width: 238px;
      border-right: 1px solid #e6e6e6; }
    .special-main ul li:hover {
      border-top-color: #e60000; }

.bookwrap {
  height: 198px;
  padding: 8px 14px 0; }
  .bookwrap a {
    display: block;
    height: 24px;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    line-height: 24px; }
  .bookwrap p {
    color: #666;
    line-height: 22px; }
  .bookwrap div {
    font-size: 14px;
    line-height: 23px; }
  .bookwrap span {
    color: #e60000; }
  .bookwrap del {
    display: block;
    color: #999; }

.bookpic {
  position: absolute;
  bottom: 0;
  right: 1px;
  text-align: center;
  padding: 0 0 5px;
  width: 145px;
  height: 145px;
  transition: transform .4s ease-out,-webkit-transform .4s ease-out,-moz-transform .4s ease-out;
  outline: 0; }
  .bookpic img {
    max-height: 145px;
    border: none;
    max-width: 145px; }

.bookpic:hover {
  transform: translateX(-10px); }

.low-price {
  margin-top: 25px; }

.low-price-left {
  float: left;
  width: 720px; }
  .low-price-left .low-price-left-header {
    overflow: hidden;
    background: #f5f5f5; }
    .low-price-left .low-price-left-header h2 {
      float: left;
      width: 210px;
      height: 55px;
      background: #ff9d00;
      line-height: 55px;
      text-indent: 39px;
      position: relative; }
      .low-price-left .low-price-left-header h2 a {
        color: #fff;
        font-size: 22px;
        text-decoration: none;
        display: block;
        height: 55px;
        position: relative;
        z-index: 2;
        font-family: "Microsoft YaHei";
        font-weight: 400; }
      .low-price-left .low-price-left-header h2 .icon {
        background: url(../images/homeindex.png) no-repeat;
        background-position: 0 -255px;
        width: 21px;
        height: 26px;
        display: block;
        position: absolute;
        left: 10px;
        top: 15px; }
    .low-price-left .low-price-left-header ul {
      float: left;
      overflow: hidden; }
      .low-price-left .low-price-left-header ul li {
        float: left;
        margin: 0 17px;
        line-height: 52px;
        font-family: 'Microsoft YaHei'; }
        .low-price-left .low-price-left-header ul li a {
          display: block;
          height: 52px;
          font-size: 18px;
          font-weight: bold;
          color: #666; }
    .low-price-left .low-price-left-header .more {
      float: right;
      margin-right: 11px;
      height: 55px;
      line-height: 55px; }
      .low-price-left .low-price-left-header .more a {
        color: #666; }
      .low-price-left .low-price-left-header .more a:hover {
        text-decoration: underline; }
  .low-price-left .low-price-left-bottom {
    margin-top: 9px;
    background: #ff9d00;
    overflow: hidden; }
    .low-price-left .low-price-left-bottom .low-price-left-advert {
      float: left;
      width: 170px;
      overflow: hidden;
      padding: 0 19px 0 21px; }

.lowtime {
  height: 58px;
  margin-top: 14px;
  line-height: 32px; }
  .lowtime .lowtimeheader span {
    color: #333;
    font-size: 16px;
    font-family: 'Microsoft YaHei'; }
  .lowtime .lowtimemain {
    overflow: hidden;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    line-height: 26px;
    color: #fff;
    text-align: center; }
    .lowtime .lowtimemain span {
      float: left;
      margin-right: 2px;
      display: block;
      width: 24px;
      height: 26px;
      line-height: 26px;
      background: #1A1A1A; }
    .lowtime .lowtimemain i {
      float: left;
      display: block;
      width: 3px;
      margin-right: 2px; }

.lowbottom {
  margin-top: 15px; }
  .lowbottom .lowbook {
    padding: 2px 0;
    height: 210px;
    overflow: hidden;
    background: #fff;
    position: relative; }
    .lowbottom .lowbook a {
      display: block;
      text-align: center;
      margin-top: 22px; }
    .lowbottom .lowbook img {
      max-height: 166px; }
    .lowbottom .lowbook div {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 3px;
      right: 3px;
      background: url(../images/nowqianggou.png) no-repeat; }
  .lowbottom h3 {
    line-height: 30px;
    margin-top: 14px;
    height: 30px;
    overflow: hidden; }
    .lowbottom h3 a {
      font-size: 16px;
      color: #333;
      font-family: 'Microsoft YaHei'; }
  .lowbottom p {
    color: #333;
    line-height: 18px;
    margin-top: 2px; }
  .lowbottom p + div {
    overflow: hidden;
    line-height: 30px;
    margin-top: 1px; }
    .lowbottom p + div span {
      float: left;
      color: #e60000;
      font-size: 16px;
      font-weight: bold; }
    .lowbottom p + div del {
      float: left;
      color: #333333;
      margin-left: 10px;
      line-height: 35px; }

.low-price-left-main {
  float: left;
  width: 510px; }
  .low-price-left-main ul {
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #e6e6e6; }
    .low-price-left-main ul li {
      position: relative;
      overflow: hidden;
      float: left;
      border: 1px solid #e6e6e6;
      border-left: 0;
      border-top: 0;
      width: 169px;
      height: 224px;
      background: #fff; }

.low-price-right {
  float: right;
  width: 470px; }

.low-price-right-header {
  overflow: hidden;
  background: #e60000; }
  .low-price-right-header h2 {
    float: left;
    height: 55px;
    line-height: 55px;
    position: relative; }
    .low-price-right-header h2 a {
      color: #FFF;
      font-size: 22px;
      font-family: "Microsoft YaHei";
      font-style: oblique;
      font-weight: 400;
      display: inline;
      height: 55px;
      padding-left: 11px;
      position: relative; }
    .low-price-right-header h2 span {
      color: #fff;
      margin-left: 10px;
      font-size: 16px; }
  .low-price-right-header div {
    float: right;
    margin-right: 11px;
    height: 55px;
    line-height: 55px; }
    .low-price-right-header div a {
      color: #fff; }
    .low-price-right-header div a:hover {
      text-decoration: underline; }

.low-price-right-main {
  margin-top: 10px;
  position: relative;
  height: 449px;
  overflow: hidden; }
  .low-price-right-main ul {
    width: 468px;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    height: 1000px;
    position: relative; }
    .low-price-right-main ul li {
      float: left;
      border: 1px solid #e6e6e6;
      border-top: 0;
      border-left: 0;
      width: 233px;
      height: 223px;
      position: relative; }

.sheke .sheke-header h2 {
  background: #b17f4a; }

.shaoer .shaoer-header h2 {
  background: #fc65b6; }

.boxwrapper {
  display: none;
  min-height: 530px; }
  .boxwrapper .boxpic {
    height: 334px; }
  .boxwrapper .boxtext {
    background: #bdeefe;
    padding: 0 15px;
    margin-top: 1px;
    height: 195px;
    overflow: hidden; }
    .boxwrapper .boxtext h3 {
      color: #0080cc;
      margin-top: 14px;
      font-size: 16px;
      font-weight: normal;
      line-height: 30px; }
    .boxwrapper .boxtext ul {
      margin-top: 7px; }
      .boxwrapper .boxtext ul li {
        line-height: 26px;
        height: 26px;
        width: 180px;
        overflow: hidden;
        position: relative; }
      .boxwrapper .boxtext ul li:hover a {
        color: #07a1d2; }
      .boxwrapper .boxtext ul li:hover span {
        color: #07a1d2; }
      .boxwrapper .boxtext ul a {
        color: #666;
        padding-left: 12px; }
      .boxwrapper .boxtext ul span {
        top: 0;
        position: absolute;
        left: 0px;
        font-size: 9px;
        color: #82888a; }

.box-leftr ul {
  overflow: hidden; }
.box-leftr li {
  float: left;
  width: 185px;
  height: 266px;
  position: relative; }
.box-leftr .leftrpic {
  height: 158px;
  margin-top: 10px;
  text-align: center; }
  .box-leftr .leftrpic a {
    display: block; }
  .box-leftr .leftrpic img {
    max-height: 158px; }
.box-leftr h3 {
  width: 145px;
  padding: 0 20px;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  margin-top: 15px;
  font-weight: normal; }
  .box-leftr h3 a {
    font-size: 12px;
    color: #333; }
.box-leftr p {
  margin-top: 4px;
  color: #666;
  width: 145px;
  padding: 0 20px;
  line-height: 18px;
  height: 18px;
  overflow: hidden; }
.box-leftr .leftrpirce {
  margin-top: 5px;
  width: 145px;
  padding: 0 20px;
  overflow: hidden;
  line-height: 16px;
  color: #e60000;
  font-size: 15px;
  font-family: "Microsoft YaHei"; }
  .box-leftr .leftrpirce span {
    float: left; }
  .box-leftr .leftrpirce del {
    line-height: 18px;
    margin-left: 7px;
    float: left;
    color: #999999; }

.box-header .active {
  border-top: 4px solid #00b6f0;
  color: #03a7db; }

.box-right {
  height: 532px; }
  .box-right .rightt {
    height: 323px; }
    .box-right .rightt .rightbox-wrap {
      height: 320px;
      border: 1px solid #e6e6e6; }
      .box-right .rightt .rightbox-wrap li {
        border-bottom: 1px solid #e6e6e6;
        position: relative; }
      .box-right .rightt .rightbox-wrap li:nth-of-type(1) .img {
        display: block; }
      .box-right .rightt .rightbox-wrap li:nth-of-type(1) .text {
        display: none; }
      .box-right .rightt .rightbox-wrap li:nth-of-type(8) {
        border: 0; }
    .box-right .rightt .text {
      display: block;
      height: 32px;
      line-height: 32px;
      padding-left: 32px;
      width: 185px;
      overflow: hidden;
      color: #333; }
    .box-right .rightt .img {
      display: none; }
      .box-right .rightt .img img {
        display: block; }
  .box-right .rightb {
    margin-top: 20px; }

.shaoer {
  margin-bottom: 20px; }

/*# sourceMappingURL=index.css.map */
