$search-input-width:508px;

.index-header-top{
    background: #f2f2f2;;
}

.indexheaderl{
    overflow: hidden;
    line-height: 30px;
    b{
        font-weight: normal;
        color: #666666;
        float: left;
        display: block;
    }
    a{
        color: #e60000;;
    }
    a:hover{
        text-decoration: underline;
    }
    b+a{
        margin-left: 7px;
    }
    span{
        color: #d1d1d1;
        margin: 0 7px;      
    }
}
.indexheaderr{    
    line-height: 30px;
    ul{
       overflow: hidden; 
    }
    li{
        float: left;
        padding: 0 16px;
        height: 29px;       
        border: 1px solid #f2f2f2;
    }
    .h-nav{
        padding: 0 26px 0 14px;
        position: relative;
    }
    a{
        color: #666666;                     
    }   
    a:hover{
        @include unhover;
    }
}

.h-icon{
    position: absolute;
    background: url(../images/homeindex.png) no-repeat 0 0;
    width: 8px;
    height: 4px;
    left: 68px;
    top: 12px; 
}

.index-header{
   .logo{
        float: left;
        width: 199px;
        padding: 21px 0 25px 0;
        margin-right: 75px;
    } 
    .search{
        float: left;
        margin-top: 20px;       
        .search-header{
            overflow: hidden;            
        }
        .search-top{
            float: left;
            height: 36px;
            width: 606px;
            border: 2px solid #e60000;
            position: relative;
            overflow: hidden;
            .inputwrapper{
                width: $search-input-width;
                float: left;
                padding: 8px 0;
            }
            input{
                display: block;
                width: 100%;
                height: 20px;
                line-height: 20px;
                vertical-align: middle;
                background: #fff;
                color: #666;
                text-indent: 1em;
            }
            a{
                float: left;
                height: 36px;
                background: #e60000;
                color: #fff;
                line-height: 36px;
                width: 98px;
                text-align: center;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                letter-spacing: 3px;
            }
        }
        .moresearch{
            float: left;
            line-height: 40px;
            margin-left: 15px; 
            a{  
                color: #e60000;
            }
            a:hover{
                @include unhover;
            }
        }
    }
    .notice{
        float: right;
        position: relative;
        padding: 0 0 0 33px;
        width: 135px;
        margin: 25px 25px 0 0;
        a{
            height: 20px;
            line-height: 20px;
            padding: 10px 0;
            display: none;
            font-size: 14px;
            color: #000;
        }
        li:nth-last-of-type(1) a{
            display: block
        }
        .icon{
            @include seticon(0px,-27px,23px,23px);
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -11px;
        }
    }
}
.search-select{
    width: 63px;
    position: absolute;
    right: 98px;
    height: 36px;
    top: 0;
    border-left: 1px solid #dbdbdb;
    padding: 0 9px 0 9px;
    background: #FFF;
    dt{
        height: 36px;
        line-height: 36px;
        color: #999;
        text-align: center;
        cursor: pointer;
    }
}
.search-footer{
    line-height: 28px;
    overflow: hidden;
    a{
        float: left;
        color: #999;
        margin-right: 25px;
    }
    a:hover{
        @include unhover;
    }
}
