@charset "utf-8";

$wrapper-width:1000px;
$fonts:SimHei;
$fontbodyone:Arial,Verdana,"宋体";
$fontbodytwo: "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;
$fontsizesmall:12px;
$fontsizenormal:14px;
@mixin unhover($color:#e60000){
    color: $color;
    text-decoration: underline;
}

.white{
    background: #fff;
}

.bodyone{
    font-family: $fontbodyone;
}
.bodytwo{
    font-family: $fontbodytwo;  
    font-size: $fontsizesmall; 
}
.header-top{
    height: 30px;
    background: #f2f2f2;
}

.smallwrapper{
    width: $wrapper-width;
    margin: auto;
    overflow: hidden;
}
.rfixed{
    text-align: center;  
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 999;
    font-family: $fonts;
    font-size: $fontsizenormal;
}
.rfixed a{
    border-radius: 5px 0 0 5px;
    color: #fff;
    width: 24px; 
    display: block; 
    padding-top: 24px;
    height: 64px;
    line-height: 15px;
    background: #ff6c00 url(../images/kefu.png) no-repeat center 5px;;
}

@import "else-header";
@import "else-main";
@import "else-footer";