@charset "utf-8";

$bigwrapper-width:1200px;
$fonts:SimHei;
$fontbodyone:Arial,Verdana,"宋体";
$fontbodytwo: "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;
$fontsizesmall:12px;
$fontsizenormal:14px;
$fontfamilyone:"Microsoft YaHei";

@mixin unhover($color:#e60000){
    color: $color;
    text-decoration: underline;
}
@mixin seticon($x:0px,$y:0px,$w:7px,$h:7px){
    background: url(../images/homeindex.png) no-repeat;
    background-position: $x $y;
    width: $w;
    height: $h;
    display: block
}
@mixin boxposition($left:0px,$top:0px){
    position: absolute;
    left: $left;
    top: $top;
}
@mixin boxpositionright($right:0px,$top:0px){
    position: absolute;
    right: $right;
    top: $top;
}

body{
    background: #fff;
    font-family: "宋体";
    font-size: $fontsizesmall;
}

.bigwrapper{
    width: $bigwrapper-width;
    margin: auto;
    overflow: hidden;
}





@import "index-header";
@import "index-footer";
@import "index-banner";
@import "index-main";
